

.erro {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
}

.erro h1{
    margin-bottom: 6px;
}

.erro p{
    font-style: italic;
    margin-bottom: 6px;
}

.erro .link {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 4px 16px;
    color: #000;
    border-radius: 4px;
    transition: 0.5s;
    font-weight: bold;
}

.erro .link:hover{
    background-color: #fff;
    transform: scale(1.05);
}